/* <svg>
        <use xlink:href="/sites/hda/themes/hondahda/assets/img/sprite.svg#location"></use>
    </svg>*/
body{
    margin: 0%;
}
.lista-card{
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    column-gap: 30px;
    row-gap: 30px;
    display: flex;
    margin: 30px;
}
.card{
    /*border: 1px solid #868686;*/
    /*align-items: center;*/
    /*border-radius: 10px ;*/
    /* box-shadow: 6px 6px 8px rgba(146,146,146,146);*/
    flex-direction:column;
    padding: 10px;
    width: 250px;
    display:flex;
    

}
.semDesconto{
    color: rgb(255, 0, 0);
    font-size: 30px;
}
.textos{
    /*align-items: center;*/
    /*text-align: center;*/
    justify-content: space-between;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.grupo-img{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.moto{
    background-repeat: no-repeat;
    background-size: cover;
   
}
.grupo-img:hover{
    transform: scale(1.35);
    transition: transform 0.3s ease;
}
/**/
.hello {
    /*display: block;*/
    text-align: right;
    line-height:100%;
}
.navBar{
    display: flex;
   /* background-color: rgb(204, 198, 198);*/
    flex-direction: column;
    border-bottom: 2px red;
   
}
.logo{
    /*left: 100px;*/
    /*margin: 0 auto;*/
    /*right: 200px;
    /*top: 10px;*/
    max-width:50px;
    max-height:50px;
    width: auto;
    margin-top: 20px;
    height: 80px;
    display: flex;   
}
.btn{ 
    background: #f5f5f5;
    bottom: 10px;
    color: #c00;
    font-size: 15px;
    /*padding: 12px 10px;*/
    right: 10px;
    text-decoration: none; 
}

.links{
    width: 20px;
    list-style: none;
    padding-left: 0%;
    line-height:30px;
   /* list-style-type: none;
    padding: 0;
    width: 20px;*/ 
}
.oii{
    justify-content:space-between;
    display: flex;
    margin-right: 10px;
    margin-left: 20px;
    border-bottom: 1px solid red;
}
.service{
    border-top:1px solid #c00;
    display: flex;
    text-indent:300px;
    margin-left: 0%;
}
